#container {
  position: absolute;
  width: 100%;
  height: 100%;
}

#tweet-author {
  z-index: 1;
  position: absolute;
  bottom: 0px;
  right: 50px;
}

p.outlined {
  color: black;
  /* source: http://stackoverflow.com/a/23969012 */
  text-shadow: white 0px 0px 10px;
  font-size: xx-large;
}

.image-response {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.image-initial-hidden {
  opacity: 0;
}

.image-visible {
  opacity: 1;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
